.l-auth {
  background: $color--primary;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__logo {
    width: 15rem;
    margin-bottom: 2.5rem;
  }
  &__form {
    width: 17.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__input {
    margin-bottom: 1.25rem;
  }
  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__subtitle {
    height: 1.5rem;
    margin-bottom: 1.875rem;

    @include text(normal, 500, 150%);
    color: $color__font--light;
  }
  &__title {
    margin-bottom: 2.5rem;

    @include heading(h5, 500);
    color: $color__font--light;
  }
  &__link {
    margin-left: 0.5rem;

    @include text(small, 400, 114%);
    color: $color--action;

    display: inline-block;

    @include cursor(pointer);
    &:hover {
      color: $color--action;
    }
    &--inline {
      margin-left: 0.5rem;
    }
  }
  &__text {
    @include text(small, 400, 114%);
    color: $color__font--subtitle;
    text-align: center;

    display: block;
    &--bottom {
      position: absolute;
      left: 50%;
      bottom: 1.875rem;
      transform: translateX(-50%);
    }
  }
  &__action {
    margin: 2.5rem 0 0.75rem 0;
  }
}
