* {
  box-sizing: border-box;
}

body {
  width: 100%;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 200%;
  letter-spacing: 0.009375rem;
}

h1 {
  @include heading(h1, 500);
}

h2 {
  @include heading(h2, 500);
}

h3 {
  @include heading(h3, 500);
}

h4 {
  @include heading(h4, 500);
}

h5 {
  @include heading(h5, 500);
}

h6 {
  @include heading(h6, 500);
}

.modal-backdrop {
  background: $color__backdrop;
  &.show {
    opacity: 1;
  }
}

.e-link {
  @include cursor(pointer);
}

.e-btn {
  height: 2.25rem;
  $padding__block: 0.625rem 2.125rem;
  @include clear(btn);
  @include cursor(pointer);
  cursor: pointer !important;

  display: flex;
  align-items: center;
  justify-content: center;
  &--link {
    padding: 0;
    @include text(extra-small, 400, 200%);
    color: $color__link;
  }
  &--action {
    padding: $padding__block;

    border-radius: $radius--infinity;

    @include text(small, 500, 114%);
    color: $color__font--light;

    display: flex;
    align-items: center;
    justify-content: center;

    background: $color--action;
  }
  &--w100 {
    width: 100%;
    padding: 0.5rem 0;

    background: $color--muted1;
    border-radius: $radius__btn;

    @include text(normal, 500, 150%);
    color: $color__font--light;
  }
  &:disabled {
    color: $color__font--subtitle;
    background: $color__font--subtext;

    cursor: not-allowed !important;
  }
  &--outline {
    padding: $padding__block;

    border-radius: $radius--infinity;
    border: 0.0625rem solid $color--action;

    @include text(small, 500, 114%);
    color: $color--action;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--light {
    border: 0.0625rem solid $color__font--subtitle;
    color: $color__font--subtitle;
  }
}

.c-modal {
  $_: &;
  &__content {
    background: $color__modal;
    border-radius: $radius__modal !important;
  }
  &__body {
    padding: 0;

    display: flex;
    flex-direction: column;
  }
  &__text {
    margin-bottom: 1.25rem;

    @include text(small, 400, 114%);
    color: $color__font--subtitle;
  }
  &--aside {
    $width__aside: 13.4375rem;
    #{$_}__dialog {
      max-width: 43.75rem;
    }
    #{$_}__body {
      height: 31.25rem;

      display: flex;
      flex-direction: row;
    }
    #{$_}__aside {
      width: $width__aside;
      min-width: $width__aside;
      height: 100%;
      padding: 1.875rem;

      background: $color--muted1;
    }
    #{$_}__main {
      width: 100%;
      height: 100%;
      padding: 1.875rem 1.875rem 1.25rem 1.875rem;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    #{$_}__btns {
      padding: 0;

      border: none;

      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    #{$_}__btn {
      &:first-of-type {
        margin-right: 1.25rem;
      }
    }
  }
}

.c-radio {
  &__set {
    margin-right: 1.875rem;
    display: flex;
    align-items: center;

    @include cursor(pointer);
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__label {
    @include text(small, 500, 114%);
    color: $color__font--light;
    white-space: nowrap;
  }
  &__input {
    @include clear(input);
    @include square(1rem, 0.25rem);
    margin: 0 0.5rem 0 0;

    background-color: $color--muted3;
    &:checked {
      accent-color: $color--muted3;
      background-color: $color--muted3;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%2335a0db'/%3e%3c/svg%3e") !important;
      background-size: 1rem;
    }
  }
}

.e-img {
  width: 100%;
  height: 100%;
  &--cover {
    object-fit: cover;
  }
  &--contain {
    object-fit: contain;
  }
  &--right {
    margin-right: 0.625rem;
  }
  &--icon {
    margin-right: 0.25rem;
  }
}

.e-icon {
  &--right {
    margin-right: 0.5rem;
  }
  &--left {
    margin-left: 0.5rem;
  }
}

.c-tag {
  width: max-content;
  min-width: max-content;
  padding: 0.375rem 2.875rem 0.375rem 0.625rem;

  border-radius: $radius--infinity;
  border: 0.0625rem solid $color__font--subtitle;

  @include text(small, 500, 114%);
  color: $color__font--light;

  position: relative;
  &__action {
    @include clear(btn);
    @include square(1rem, 0);
    background: url("../img/icon/close.svg");

    position: absolute;
    right: 0.625rem;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
  }
}

.c-table {
  $_: &;
  &__row {
    margin-bottom: 0.5rem;
    display: grid;
    &:last-of-type {
      margin-bottom: 0;
    }
    &--head {
      #{$_}__col {
        @include text(extra-small, 400, 116%);
        color: $color__font--subtext;
      }
    }
  }
  &__col {
    @include text(small, 400, 114%);
    color: $color__font--light;

    position: relative;
  }
  &--field {
    #{$_}__col {
      @include text(small, 400, 114%);
      color: $color__font--light;

      display: flex;
      align-items: center;
      &--head {
        @include text(small, 400, 114%);
        color: $color__font--subtext;
      }
    }
  }
  &--input {
    .c-form {
      &__input {
        &--outline {
          height: 1.875rem;
        }
      }
    }
  }
}

.c-form {
  $_: &;
  &__input {
    $size__text: "normal";
    $weight__text: 400;
    $line-height__text: 150%;
    width: 100%;
    @include clear(input);
    @include text($size__text, $weight__text, $line-height__text);
    color: $color__font--light;

    @include cursor(text);
    &::placeholder {
      @include text($size__text, $weight__text, $line-height__text);
      color: $color__placeholder;
    }
    &--bg {
      @extend #{$_}__input;
      width: 13.75rem;

      background: $color__input;
      &:hover,
      &:focus,
      &:active {
        background: $color__input;

        @include text($size__text, $weight__text, $line-height__text);
        color: $color__font--light;
      }
    }
    &--outline {
      @include clear(input);
      width: 100%;
      height: 2.25rem;
      padding: 0.625rem 0.75rem;
      background: $color__input;
      border: $border__input;
      border-radius: $radius__input;

      @include text(small, 500, 114%);
      color: $color__font--light;
      @include cursor(text);
      &::placeholder {
        @include text(small, 500, 114%);
        color: rgba(255, 255, 255, 0.35);
      }
      &:focus {
        background: $color__input;
        border: $border__input;

        color: $color__font--light;
      }
      &:disabled {
        border: $border__input--disabled;

        color: $color__font--disabled;
      }
    }
  }
  &__file {
    $size__text: "extra-small";
    $weight__text: 400;
    $line-height__text: 200%;
    @include clear(input);
    @include text($size__text, $weight__text, $line-height__text);
    color: $color__font--light;
    &::-webkit-file-upload-button {
      @include clear(btn);
      padding: 0 0.5rem;

      background: $color--primary;
      border-radius: $radius__file;
      @include text($size__text, $weight__text, $line-height__text);
      color: $color__font--light;

      &:hover,
      &:focus,
      &:active {
        background: $color--primary !important;
        color: $color__font--light !important;
      }
    }
    &::file-selector-button {
      @extend #{$_}__file::-webkit-file-upload-button;
    }
    &:hover,
    &:focus,
    &:active {
      background: transparent;
      color: $color__font--light;
    }
  }
  &__label {
    @include text(extra-small, 500, 200%);
    color: $color__font--light;
    white-space: nowrap;
  }
  &__btns {
    padding-top: 0.625rem;

    display: flex;
    align-items: center;
  }
  &__set {
    &--file {
      $height__block: 1.75rem;
      margin-bottom: 2.5rem;

      display: flex;
      flex-direction: column;

      #{$_}__label {
        width: max-content;
        height: $height__block;
        padding: 0.375rem 1.8125rem;
        margin: 0;

        border: $border__input;
        border-radius: $radius--infinity;

        @include text(small, 500, 114%);
        color: $color__font--subtitle;

        @include cursor(pointer);
      }
      #{$_}__file {
        display: none;
      }
      #{$_}__subtitle {
        margin-bottom: 0.75rem;
        @include text(small, 400, 114%);
        color: $color__font--light;
      }
      #{$_}__content {
        height: $height__block;

        @include text(small, 400, 114%);
        color: $color__font--subtitle;

        @include cursor(pointer);
      }
    }
    &--col {
      #{$_}__label {
        margin-bottom: 0.25rem;
      }
    }
    &--btn {
      &:first-of-type {
        margin-right: 1.25rem;
      }
      #{$_}__label {
        @include clear(input);
        width: 12.5rem;
        height: 11.25rem;
        padding: 1.25rem;
        margin: 0;

        background: $color--muted1;
        border-radius: $radius__block;

        box-shadow: 0 0 0 0.0625rem $color__font--subtext;

        @include text(small, 400, 114%);
        color: $color__font--light;

        @include cursor(pointer);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &:focus {
          box-shadow: 0 0 0 0.1875rem $color--action;
        }
      }
      #{$_}__file {
        display: none;
      }
      #{$_}__input {
        width: max-content;
        border: 0;
        &:focus + #{$_}__label,
        &:checked + #{$_}__label {
          box-shadow: 0 0 0 0.1875rem $color--action;
        }
      }
      #{$_}__img {
        @include square(3rem, 0);
        margin-bottom: 1.875rem;
      }
    }
    &--row {
      margin-bottom: 1.875rem;
      display: flex;
      align-items: center;
      #{$_}__label {
        margin-right: 1.25rem;
      }
      #{$_}__input {
        width: 13.75rem;
      }
    }
  }
  &__content {
    $width__block: $width__text + 3.5rem + 1.25rem;
    @include clear(btn);
    width: $width__block;
    max-width: $width__block;
    padding: 0.375rem 3.5rem 0.375rem 1.25rem;

    border-radius: $radius--infinity;
    border: $border__input;

    @include text(small, 500, 116%);
    color: $color__font--subtitle;
    text-align: start;
    word-break: break-all;
    white-space: normal;

    display: inline-block;

    position: relative;
    &::after {
      @include pesudo("");
      @include square(1rem, 0);

      background-image: url("../img/new-ui/icon/icon_close.svg");
      top: 50%;
      left: auto;
      right: 1.25rem;
      transform: translateY(-50%);
    }
  }
  &__date {
    @include clear(input);
    width: max-content;

    @include text(small, 400, 114%);
    color: $color__font--light;

    @include cursor(pointer);
    &::-webkit-calendar-picker-indicator {
      display: none;
    }
    &::-webkit-datetime-edit {
      max-width: 4.8rem;
    }
  }
  &__hidden {
    visibility: hidden !important;
  }
}

.c-btns {
  border-top: $border--hr;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__btn {
    padding: 0.5rem 2.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:first-of-type {
      margin-right: 1.25rem;
    }
  }
}

.c-legend {
  display: flex;
  align-items: center;
  &__set {
    margin-right: 1.875rem;

    display: flex;
    align-items: center;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__icon {
    margin-right: 0.5rem;
    @include square(0.5rem, 50%);

    &[data-color="error"] {
      background: $color--error;
    }
    &[data-color="online"] {
      background: $color--online;
    }
    &[data-color="offline"] {
      background: $color--offline;
    }
  }
  &__text {
    @include text(xx-small, 400, 240%);
    color: $color__font--light;
  }
}
.u {
  &-main {
    width: 100%;
    height: 100vh;
    display: flex;
  }
  &-content {
    width: 100%;

    background: $color__bg;

    overflow-x: auto;
  }
  &-modal {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1 !important;

    z-index: 1055;
  }
  &-page {
    width: 100%;
    height: 100vh;
  }
}

.c-tabs {
  height: 1.75rem;
  &__tab {
    height: 1.75rem;
    margin-right: 2.5rem;
    @include clear(btn);
    @include text(normal, 400, 150%);
    color: $color__font--subtitle;
    @include cursor(pointer);

    display: inline-block;
    &:hover {
      color: $color__font--subtitle;
    }
    &.active {
      color: $color__font--light;

      position: relative;
      &::after {
        @include pesudo("");
        width: 100%;
        height: 0.25rem;
        background: $color--action;
        border-radius: $radius--infinity;

        left: 50%;
        top: auto;
        bottom: -0.25rem;
        transform: translateX(-50%);
      }
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.c-dropdown {
  $_: &;
  $padding__item: 0.5rem 0 0.5rem 1.25rem;
  &--subdropdown {
    width: 100%;
    #{$_}__toggle {
      &:hover {
        background: $color--action;
      }
    }
  }
  &--select {
    $width__menu: 14.5rem;
    height: max-content;
    #{$_}__toggle {
      @include clear(btn);
      width: $width__text;
      max-width: $width__text;
      padding: 0;

      background: transparent;
      border-radius: 0;

      @include text(small, 400, 114%);
      color: $color__font--light;
      word-break: break-all;
      white-space: normal;

      @include cursor(pointer);

      display: inline-block;

      position: relative;
      &::before {
        @include pesudo("");
        width: 0.75rem;
        height: 0.5rem;

        background: url("../img/new-ui/icon/arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        top: 0.5rem;
        left: auto;
        right: -1rem;
        transform: translateY(-50%);

        display: block !important;
      }
    }
    #{$_}__menu {
      width: $width__menu;
      max-width: $width__menu;

      border-radius: 0;
      padding: 0;
      transform: translate3d(-0.625rem, 2.5rem, 0) !important;
    }
    #{$_}__item {
      padding: 0.625rem;

      @include text(small, 400, 114%);
      color: $color__font--light;
      word-break: break-all;
      white-space: normal;

      @include cursor(pointer);

      &:hover {
        background: transparent;
        color: $color--action;
      }
    }
  }
  &__toggle {
    width: 100%;
    @include clear(btn);
    padding: $padding__item;

    border-radius: 0;

    @include text(small, 400, 171%);
    color: $color__font--light !important;

    display: flex;
    align-items: center;

    &::before,
    &::after {
      display: none !important;
    }
    &:hover {
      color: $color__font--light;
    }
    &--icon {
      @include square(2.5rem, 50%);
      padding: 0.5rem;

      background-color: transparent;
      border-radius: 50%;
      &:hover,
      &:focus,
      &:active {
        background-color: $color--primary;
      }
    }
    &--btn {
      @include square(2.5rem, 50%);
      padding: 0.5rem;

      background: $color--secondary;
      border-radius: 50%;

      @include text(normal, 500, 175%);
      color: $color__font--light;

      @include cursor(pointer);
      &:hover,
      &:focus,
      &:active {
        background-color: $color--secondary;
      }
    }
  }
  &__menu {
    width: $width__dropdown;
    padding: 0.875rem 0;

    background: $color--primary;
    border: none;
    border-radius: $radius__dropdown;

    position: relative;
    &::after {
      @include pesudo("");
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0.5625rem 0.75rem 0.5625rem;
      border-color: transparent transparent $color--primary transparent;
    }
  }
  &__item {
    padding: $padding__item;
    margin-bottom: 0.25rem;

    @include clear(dropdown-item);
    @include text(small, 400, 171%);
    color: $color__font--light;

    display: flex;
    align-items: center;

    @include cursor(pointer);
    &:hover,
    &:focus,
    &:active {
      background: $color--action;
      color: $color__font--light;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__heading {
    padding: $padding__item;
    margin-bottom: 0.25rem;

    @include text(extra-small, 400, 116%);
    color: $color__font--subtext;
  }
  &__icon {
    margin-right: 0.875rem;
    @include square(1.5rem, 0);

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    &--bg {
      background: $color--secondary;
    }
  }
  &__text {
    margin-top: 0.125rem;
    padding-left: 2.5rem;
    @include text(extra-small, 400, 116%);
    color: $color__font--subtext;
  }
}

.c-select {
  width: 8.75rem;
  @include clear(input);
  padding: 0;

  background-position: right 0 center;
  background-image: url("../img/icon/navigate-next--active.svg");

  @include text(extra-small, 400, 200%);
  color: $color__font--light;
}

.c-progress {
  $height__bar: 0.625rem;
  width: 100%;
  height: $height__bar;
  margin-top: 1rem;

  background: $color--muted1;
  border-radius: $radius--infinity;

  position: relative;

  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  &__bar {
    width: 100%;
    height: $height__bar;

    background: $color--action;
    border-radius: $radius--infinity;

    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 1;
  }
}

.c-checkbox {
  $_: &;
  &__set {
    margin-right: 1.875rem;
    display: flex;
    align-items: center;

    @include cursor(pointer);
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__label {
    @include text(small, 500, 114%);
    color: $color__font--light;
    white-space: nowrap;
  }
  &__input {
    @include clear(input);
    @include square(1rem, 0.25rem);
    min-width: 1rem;
    margin: 0 0.5rem 0 0;

    background-color: $color--muted3;
    &:checked {
      accent-color: $color--muted3;
      background-color: $color--muted3;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%2335a0db' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e") !important;
      background-size: 1rem;
    }
  }
  &__text {
    margin: 0.5rem 0 0 0;

    @include text(extra-small, 400, 116%);
    color: $color__font--light;
  }
  &--right {
    #{$_}__set {
      margin: 0 0 1rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    #{$_}__input {
      margin: 0 0 0 0.7rem;
    }
    #{$_}__label {
      @include text(extra-small, 400, 116%);
    }
  }
}

.c-list {
  &__item {
    margin: 1.25rem 0;

    @include text(small, 400, 114%);
    color: $color__font--subtitle;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.c-tooltip {
  $_: &;
  position: relative;
  z-index: 5;
  &__content {
    width: $width__tooltip;
    padding: 1.25rem;

    background: $color__tooltip;
    border-radius: $radius__block;

    display: none;

    position: absolute;
    bottom: calc(100% + 0.3125rem);
  }
  &__toggle {
    @include square(1.5rem, 0);

    background: url("../img/new-ui/icon/ic_info_24dp.svg");

    display: block;
    &:hover ~ #{$_}__content {
      display: block;
    }
  }
  &__section {
    margin-bottom: 1.25rem;

    @include text(extra-small, 400, 116%);
    color: $color__font--subtitle;
    white-space: nowrap;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.c-info {
  &__set {
    margin-bottom: 1.25rem;
    &:last-of-type {
      margin-bottom: 0.875rem;
    }
  }
  &__subtitle {
    margin-bottom: 0.5rem;

    @include text(extra-small, 400, 116%);
    color: $color__font--subtext;
  }
  &__text {
    @include text(small, 500, 114%);
    color: $color__font--light;
  }
}
