// sweetalert2
$padding__block: 1.875rem;
$height__timer: 0.375rem;
$color__alert: #323741;

.c-alert {
  $_: &;
  &__container {
    background: $color__backdrop--alert !important;
  }
  &__popup {
    width: $width__alert !important;
    padding-bottom: 1.875rem !important;

    background: $color__alert !important;
    box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.15) !important;
    border-radius: $radius__alert !important;
    // &--timer {
    //   padding-bottom: 2.375rem + $height__timer !important;
    //   #{$_}__title {
    //     padding: 1.875rem 0 0 0 !important;
    //   }
    //   #{$_}__content {
    //     height: 2.5rem !important;
    //     margin: 0 3.125rem 1.25rem 3.125rem !important;

    //     text-align: center !important;
    //   }
    // }
  }
  &__title {
    padding: $padding__block $padding__block 0 $padding__block !important;
    margin-bottom: 1.25rem !important;

    @include text(normal, 500, 175%);
    color: $color__font--light !important;
    text-align: start !important;
  }
  &__content {
    margin: 0 $padding__block 3.75rem $padding__block !important;

    @include text(small, 400, 114%);
    color: $color__font--light !important;
    text-align: start !important;
  }
  &__timer {
    height: $height__timer !important;

    background: $color--muted1 !important;
  }
  &__timer-container {
    width: calc(100% - #{$padding__block} * 2) !important;
    height: $height__timer !important;

    background: $color--action !important;
    border-radius: $radius--infinity !important;

    bottom: $padding__block !important;
    left: $padding__block !important;
    transform: rotate(180deg);
  }
  &__btn {
    &:last-of-type {
      margin-left: 1.25rem;
    }
  }
  &__action {
    width: 100% !important;
    padding: 0 $padding__block !important;

    justify-content: flex-end !important;
  }
}

.swal2-actions {
  width: 100% !important;
  padding-right: 1.875rem !important;

  justify-content: flex-end !important;
}

.swal2-radio {
  margin: 0.875rem 0 0 1.875rem;

  background: transparent !important;

  flex-direction: column;
  label {
    width: 100%;
    margin: 0 0 1.3125rem 0 !important;

    @include text(small, 400, 114%);
    color: $color__font--light;
    text-align: start;

    @include cursor(pointer);

    position: relative;
  }
  .swal2-label {
    width: $width__text;
    max-width: $width__text;
    margin-left: 2rem;

    word-break: break-all;
    white-space: normal;

    display: inline-block;
    &::after {
      @include pesudo("");
      @include square(1.5rem, 0);

      background-image: url("../img/new-ui/icon/ic_file_24dp.svg");
      top: 0.5rem;
      transform: translateY(-50%);
    }
  }
  input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
    &:checked ~ .swal2-label {
      color: $color--action;
      &::after {
        background-image: url("../img/new-ui/icon/ic_file_active_24dp.svg");
      }
    }
  }
}
