$color--primary: var(--color--primary);
$color--secondary: var(--color--secondary);
$color--action: var(--color--action);
$color--online: var(--color--online);
$color--error: var(--color--error);
$color--offline: var(--color--offline);
$color--light: var(--color--light);

$color--muted1: var(--color--muted1);
$color--muted2: var(--color--muted2);
$color--muted3: var(--color--muted3);

$color__font--light: var(--color__font--light);
$color__font--text: var(--color__font--text);
$color__font--subtitle: var(--color__font--subtitle);
$color__font--subtext: var(--color__font--subtext);
$color__font--disabled: rgba(255, 255, 255, 0.15);

$color__tag: var(--color--muted1);
$color__border: var(--color--muted1);
$color__placeholder: var(--color--muted1);
$color__graph: var(--color--muted1);
$color__input: var(--color--muted1);
$color__block: var(--color--muted1);

$color__bg: var(--color--muted2);
$color__radio: var(--color--muted2);
$color__modal: var(--color--muted2);

$color__dropdown: #364356;

$color__link: var(--color--action);

$color__hr: rgba(255, 255, 255, 0.15);

$color__graph-border: var(--color--muted3);

$color__backdrop: rgba(0, 0, 0, 0.8);
$color__backdrop--alert: rgba(0, 0, 0, 0.7);
$color__tooltip: rgba(0, 0, 0, 0.7);

$height__header: 3.75rem;
$height__select: 1.5rem;
$height__notification: 31rem;

$width__sidebar: 16.25rem;
$width__dropdown: 12.5rem;
$width__notification: 16.25rem;
$width__alert: 31.25rem;
$width__tooltip: 18.625rem;
$width__text: 13.125rem;

$padding__page: 0 1.875rem 1.875rem 1.875rem;

$top__dropdown: 3.4375rem;
$top__dropdown-triangle: -0.5625rem;

$radius--infinity: 10000rem;
$radius__modal: 0.375rem;
$radius__btn: 0.5625rem;
$radius__graph: 0.5rem;
$radius__block: 0.375rem;
$radius__dropdown: 0.25rem;
$radius__file: 0.375rem;
$radius__input: 0.25rem;
$radius__alert: 0.5625rem;

$border--hr: 0.0625rem solid $color__hr;
$border__graph: 0.0625rem solid $color__graph-border;
$border__hr--dotted: 0.0625rem dotted $color__graph-border;
$border__input: 0.0625rem solid $color__font--subtitle;
$border__input--disabled: 0.0625rem solid rgba(144, 151, 153, 0.5);
$border__popover: 0.125rem solid;

$transition: none;
