.profile-input {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
.searchModel-input {
  width: auto;
}
.filter-scroll {
  overflow-x: auto;
  max-height: 35rem;
}
/* ------------------------------------------------------------- */

/* RAN-software - configInfo setting */
.c-tooltip__content {
  width: 20rem;
}

/* RAN-software - configInfo setting 下拉選單框寬度 */
.c-dropdown--select .c-dropdown__menu {
  /* width: calc(0.625rem + 0.625rem + 15.125rem);
  max-width: calc(0.625rem + 0.625rem + 15.125rem); */
  width: 14.75rem;
  max-width: 14.75rem;
}

/* 外框highlight */
.l-home__block.online {
  border: 0.125rem solid var(--color--online);
}

/* fix 2條滾輪問題 */
.l-home__section {
  overflow-x: unset;
  margin-bottom: 0;
}

.alert_content {
  overflow-x: auto;
  height: calc(100vh - 3.75rem);
}

.alert_home {
  height: 100vh;
}

/* ran - update checkbox換行 */
.c-checkbox__text {
  word-break: break-word;
}
