/* jclocal start */
/* 跑條動畫 */
/* 25% 50% 75% 100% */
/* @-webkit-keyframes slide-right-25 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(-75%);
    transform: translateX(-75%);
  }
}

@keyframes slide-right-25 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(-75%);
    transform: translateX(-75%);
  }
}

@-webkit-keyframes slide-right-50 {
  0% {
    -webkit-transform: translateX(-75%);
    transform: translateX(-75%);
  }

  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@keyframes slide-right-50 {
  0% {
    -webkit-transform: translateX(-75%);
    transform: translateX(-75%);
  }

  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@-webkit-keyframes slide-right-75 {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  100% {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
}

@keyframes slide-right-75 {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  100% {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
}

@-webkit-keyframes slide-right-100 {
  0% {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes slide-right-100 {
  0% {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
} */

/* 33% 66% 99%(100%) */
/* @-webkit-keyframes slide-right-33 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(-67%);
    transform: translateX(-67%);
  }
}

@keyframes slide-right-33 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(-67%);
    transform: translateX(-67%);
  }
}

@-webkit-keyframes slide-right-66 {
  0% {
    -webkit-transform: translateX(-67%);
    transform: translateX(-67%);
  }

  100% {
    -webkit-transform: translateX(-34%);
    transform: translateX(-34%);
  }
}

@keyframes slide-right-66 {
  0% {
    -webkit-transform: translateX(-67%);
    transform: translateX(-67%);
  }

  100% {
    -webkit-transform: translateX(-34%);
    transform: translateX(-34%);
  }
}

@-webkit-keyframes slide-right-99 {
  0% {
    -webkit-transform: translateX(-34%);
    transform: translateX(-34%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes slide-right-99 {
  0% {
    -webkit-transform: translateX(-34%);
    transform: translateX(-34%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.u-animation--slide-right-1 {
  -webkit-animation: slide-right 1s linear both;
  animation: slide-right 1s linear both;
}

.u-animation--slide-right-10 {
  -webkit-animation: slide-right 10s linear both;
  animation: slide-right 10s linear both;
}

.u-animation--slide-right-30 {
  -webkit-animation: slide-right 30s linear both;
  animation: slide-right 30s linear both;
} */

/* 1~4 */
/* .u-animation--slide-right-1of4 {
  -webkit-animation: slide-right-25 1s linear both;
  animation: slide-right-25 1s linear both;
}

.u-animation--slide-right-2of4 {
  -webkit-animation: slide-right-50 1s linear both;
  animation: slide-right-50 1s linear both;
}

.u-animation--slide-right-3of4 {
  -webkit-animation: slide-right-75 1s linear both;
  animation: slide-right-75 1s linear both;
}

.u-animation--slide-right-4of4 {
  -webkit-animation: slide-right-100 1s linear both;
  animation: slide-right-100 1s linear both;
} */

/* 1~3 */
/* .u-animation--slide-right-1of3 {
  -webkit-animation: slide-right-33 1s linear both;
  animation: slide-right-33 1s linear both;
}

.u-animation--slide-right-2of3 {
  -webkit-animation: slide-right-66 1s linear both;
  animation: slide-right-66 1s linear both;
}

.u-animation--slide-right-3of3 {
  -webkit-animation: slide-right-99 1s linear both;
  animation: slide-right-99 1s linear both;
} */

/* jclocal end */

/* jclocal start */
/* 外框highlight */
.l-home__block.online {
  border: 0.125rem solid var(--color--online);
}

/* jclocal start */
/* fix 2條滾輪問題 */
.l-home {
  width: 100%;
  overflow-y: hidden;
}

/* jclocal start */
/* overview浮框 */
.c-popover--end .c-popover__row {
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 2fr 1fr;
}

/* RAN-software - configInfo setting */
.c-tooltip__content {
  width: 20rem;
}

/* .c-alert__popup .c-alert__content {
  margin: none !important;
} */
.c-alert__btn {
  margin-top: -1.5em;
}